<div class="flex mx-30 gap-2 m-0 justify-between items-center">
  <input
    type="text"
    name=""
    id=""
    placeholder="Nome do banho"
    class="border border-gray-300 rounded-lg flex-1 px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all"
  />
  <button
    type="submit"
    class="rounded-lg cursor-pointer px-3 py-1 text-white bg-blue-600 hover:bg-blue-500 shadow-md transition-all duration-300"
  >
    Pesquisar
    <fa-icon [icon]="iconSearch" ></fa-icon>
  </button>
  <button
    type="button"
    class="rounded-lg cursor-pointer px-3 py-1 text-white bg-blue-600 hover:bg-blue-500 shadow-md transition-all duration-300"
  >
    Novo Banho
    <fa-icon [icon]="iconAdd" ></fa-icon>
  </button>
</div>
