<div class="flex flex-col mx-0 md:mx-30 justify-between items-center">
  <div class="flex flex-col md:flex-row w-full justify-between items-center gap-2">
    <input
      type="text"
      name="pesquisar"
      placeholder="Nome do banho"
      [(ngModel)]="termoBusca"
      (input)="filtrarBanhos()"
      class="border border-gray-300 rounded-lg w-full md:flex-1 px-1 py-1.5 text-sm shadow-lg shadow-gray-400/30 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all"
    />

    <div class="flex w-full md:w-auto gap-2">
      <button
        type="submit"
        (click)="filtrarBanhos()"
        class="flex-1 md:flex-none rounded-lg cursor-pointer py-1 md:px-3 md:py-1 text-sm md:text-base text-white bg-blue-600 shadow-lg shadow-gray-400/80 hover:bg-blue-500 transition-all duration-300"
      >
        <span class="md:inline">Pesquisar</span>
        <fa-icon [icon]="iconSearch" class="ml-1"></fa-icon>
      </button>

      <button
        (click)="abrirModal()"
        type="button"
        class="flex-1 md:flex-none rounded-lg cursor-pointer py-1 md:px-3 md:py-1 text-sm md:text-base text-white bg-blue-600 hover:bg-blue-500 shadow-lg shadow-gray-400/80 transition-all duration-300"
      >
        <span class="">Novo Banho</span>
        <fa-icon [icon]="iconAdd" class="ml-1"></fa-icon>
      </button>
    </div>

    @if (exibirModal) {
      <app-criar-banho
        [banhoParaEditar]="banhoSelecionado"
        (aoFechar)="fecharModal()"
      ></app-criar-banho>
    }
  </div>

  <div class="mt-4 md:mt-5 w-full shadow-lg ring-opacity-5 rounded-lg overflow-hidden">
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-300 table-fixed">
        <thead class="bg-blue-600">
          <tr>
            <th
              class="w-40 md:w-1/5 py-1.5 px-4 text-left text-sm md:text-base font-semibold text-white"
            >
              Nome
            </th>
            <th
              class="w-64 md:w-1/2 py-1.5 px-4 text-left text-sm md:text-base font-semibold text-white"
            >
              Descrição
            </th>
            <th
              class="w-28 md:w-1/15 py-1.5 px-4 text-left text-sm md:text-base font-semibold text-white"
            >
              Valor
            </th>
            <th
              class="w-24 md:w-1/12 py-1.5 px-4 text-center text-sm md:text-base font-semibold text-white"
            >
              Ação
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          @for (banho of banhosFiltrados; track banho.id) {
            <tr class="md:overflow-hidden hover:bg-gray-300 transition-all duration-300">
              <td class="py-1 px-4 text-sm font-medium text-gray-900 truncate">{{ banho.nome }}</td>
              <td class="py-1 px-4 text-sm text-gray-500 truncate max-w-xs">
                {{ banho.descricao }}
              </td>
              <td class="py-1 px-4 text-sm text-gray-500">
                {{ banho.valor | currency: 'BRL' }}
              </td>
              <td class="whitespace-nowrap py-1 px-4 text-lg text-center font-medium space-x-4">
                <button
                  (click)="prepararEdicao(banho)"
                  class="text-blue-600 hover:text-blue-500 cursor-pointer"
                >
                  <fa-icon [icon]="iconEdit"></fa-icon>
                </button>
                <button
                  (click)="prepararExclusao(banho)"
                  class="text-red-600 hover:text-red-500 cursor-pointer"
                >
                  <fa-icon [icon]="iconTrash"></fa-icon>
                </button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="4" class="py-10 text-center text-gray-500 bg-white">
                Nenhum banho cadastrado.
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  @if (exibirModalExcluir) {
    <app-excluir-banho-modal
      [nomeBanho]="banhoParaExcluir?.nome || ''"
      (aoConfirmar)="confirmarExclusao()"
      (aoCancelar)="fecharModalExcluir()"
    ></app-excluir-banho-modal>
  }
</div>
