<div class="flex flex-col mx-0 md:mx-30 gap-2 m-0 justify-between items-center">
  <div class="flex flex-col md:flex-row w-full justify-between items-center gap-2">
    <input
      type="text"
      name="pesquisar"
      id=""
      placeholder="Pesquise o nome do animal ou tutor"
      [(ngModel)]="termoBusca"
      (input)="filtrarAgendamentos()"
      class="border border-gray-300 rounded-lg w-full md:flex-1 px-1 py-1.5 text-sm shadow-lg shadow-gray-400/30 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all"
    />
    <div class="flex w-full md:flex-row md:w-auto gap-2">
      <button
        type="submit"
        (click)="filtrarAgendamentos()"
        class="flex-1 md:flex-none rounded-lg cursor-pointer py-1 md:px-3 md:py-1 text-sm md:text-base text-white bg-blue-600 shadow-lg shadow-gray-400/80 hover:bg-blue-500 transition-all duration-300"
      >
        Pesquisar
        <fa-icon [icon]="iconSearch"></fa-icon>
      </button>
      <button
        (click)="abrirModal()"
        type="button"
        class="flex-1 md:flex-none rounded-lg cursor-pointer py-1 md:px-3 md:py-1 text-sm md:text-base text-white bg-blue-600 hover:bg-blue-500 shadow-lg shadow-gray-400/80 transition-all duration-300"
      >
        Agendar
        <fa-icon [icon]="iconAdd"></fa-icon>
      </button>
    </div>
  </div>

  @if (exibirModal) {
    <app-criar-agendamento
      [agendaParaEditar]="agendamentoSelecionado"
      (aoFechar)="exibirModal = false"
    >
    </app-criar-agendamento>
  }

  <div class="mt-4 md:mt-5 w-full shadow-lg ring-opacity-5 rounded-lg overflow-hidden">
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-300 table-fixed">
        <thead class="bg-blue-600">
          <tr>
            <th class="py-1.5 px-4 text-left text-sm md:text-base font-semibold text-white">
              Nome do Pet
            </th>
            <th class="py-1.5 px-4 text-left text-sm md:text-base font-semibold text-white">
              Tutor
            </th>
            <th class="py-1.5 px-4 text-left text-sm md:text-base font-semibold text-white">
              Telefone
            </th>
            <th class="py-1.5 px-4 text-left text-sm md:text-base font-semibold text-white">
              Data e Hora
            </th>
            <th class="py-1.5 px-4 text-left text-sm md:text-base font-semibold text-white">
              Banho
            </th>
            <th class="py-1.5 px-4 text-center text-sm md:text-base font-semibold text-white">
              Ação
            </th>
          </tr>
        </thead>
    
        <tbody class="divide-y divide-gray-200 bg-white">
          @for (agenda of agendamentoFiltrados; track agenda.id) {
            <tr class="md:overflow-hidden hover:bg-gray-300 transition-all duration-300">
              <td class="py-1 px-4 text-sm font-medium text-gray-900">{{ agenda.nomeAnimal }}</td>
              <td class="py-1 px-4 text-sm font-medium text-gray-900">{{ agenda.nomeTutor }}</td>
              <td class="py-1 px-4 text-sm text-gray-500">{{ agenda.telefone ?? '' | mask: '(00) 00000-0000' }}</td>
              <td class="py-1 px-4 text-sm text-gray-500">
                {{ agenda.data }} às {{ agenda.hora }}
              </td>
              <td class="py-1 px-4 text-sm text-gray-500">{{ agenda.tipoBanho }}</td>
              <td class="whitespace-nowrap py-1 px-4 text-lg text-center font-medium space-x-4">
                <button
                  (click)="prepararEdicao(agenda)"
                  class="text-blue-600 hover:text-blue-500 cursor-pointer"
                >
                  <fa-icon [icon]="iconEdit"></fa-icon>
                </button>
                <button
                  (click)="prepararExclusao(agenda)"
                  class="text-red-600 hover:text-red-500 cursor-pointer"
                >
                  <fa-icon [icon]="iconTrash"></fa-icon>
                </button>
              </td>
            </tr>
          } @empty {
            <td colspan="4" class="py-10 text-center text-gray-500 bg-white">
              Nenhum banho cadastrado.
            </td>
          }
        </tbody>
      </table>
    </div>
  </div>

  @if (exibirModalExcluir) {
    <app-excluir-agenda-modal 
    [nomeAgenda]="agendaParaExcluir?.nomeAnimal || ''"
    [banhoAgenda]="agendaParaExcluir?.tipoBanho || '' "
    (aoConfirmar)="confirmarExclusao()"
    (aoCancelar)="fecharModalExcluir()"
    >
    </app-excluir-agenda-modal>
  }
</div>
