<div class="fixed inset-0 bg-black/50 backdrop-blur-sm z-50 flex justify-center items-center p-4">
  <div
    class="bg-white h-140 rounded-xl shadow-2xl w-full max-w-md overflow-y-auto transform transition-all"
  >
    <div
      class="fixed w-full max-w-md rounded-t-xl bg-blue-600 p-4 text-white flex justify-between items-center"
    >
      <h2 class="text-xl font-bold flex items-center gap-2">
        <fa-icon [icon]="iconAdd"></fa-icon> Novo Agendamento
      </h2>
      <button (click)="fechar()" class="hover:rotate-90 transition-transform cursor-pointer">
        <fa-icon [icon]="iconClose"></fa-icon>
      </button>
    </div>

    <form class="p-6 space-y-4 mt-14" #agendamentoForm (ngSubmit)="salvar()">
      <!-- Nome do Tutor -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Nome do Tutor</label>
        <input
          type="text"
          name="nomeTutor"
          placeholder="Ex: Paulo Joaquim"
          [(ngModel)]="novoAgendamento.nomeTutor"
          class="w-full border border-gray-300 rounded-lg px-3 py-2 mt-1 focus:ring-2 focus:ring-blue-500 outline-none"
        />
      </div>

      <!-- Telefone -->
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Telefone<span class="text-base text-red-500">*</span></label
        >
        <input
          type="text"
          name="telefone"
          [(ngModel)]="novoAgendamento.telefone"
          [required]="true"
          #tel="ngModel"
          placeholder="Ex: (81) 90123-6789"
          mask="(00) 00000-0000"
          [showMaskTyped]="true"
          prefix="+55 "
          class="w-full border border-gray-300 rounded-lg px-3 py-2 mt-1 focus:ring-2 focus:ring-blue-500 outline-none"
        />
        @if (tel.invalid && tel.touched) {
          <span class="text-xs text-red-500">O telefone é obrigatório.</span>
        }
      </div>

      <!-- Nome do Animal -->
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Nome do Animal<span class="text-base text-red-500">*</span></label
        >
        <input
          type="text"
          name="nomeAnimal"
          [(ngModel)]="novoAgendamento.nomeAnimal"
          required
          #animal="ngModel"
          placeholder="Ex: Capitão Romrom"
          class="w-full border border-gray-300 rounded-lg px-3 py-2 mt-1 focus:ring-2 focus:ring-blue-500 outline-none"
        />
        @if (animal.invalid && animal.touched) {
          <span class="text-xs text-red-500">O nome do pet é obrigatório.</span>
        }
      </div>

      <!-- Obs do Animal -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Observação</label>
        <textarea
          placeholder="Tem alguma observação sobre esse agendamento?"
          rows="3"
          name="observacao"
          [(ngModel)]="novoAgendamento.observacao"
          class="w-full border border-gray-300 rounded-lg px-3 py-2 mt-1 focus:ring-2 focus:ring-blue-500 outline-none"
        ></textarea>
      </div>

      <div class="">
        <label class="block text-sm font-medium text-gray-700"
          >Tipo de Banho<span class="text-base text-red-500">*</span></label
        >
        <div class="flex flex-row gap-2">
          <select
            #selectBanho
            required
            class="w-full border border-gray-300 rounded-lg px-3 py-2 mt-1 focus:ring-2 focus:ring-blue-500 outline-none"
          >
            <!-- <option value="" disabled selected>Selecionar um banho</option> -->
            @for (banho of listaBanho; track banho.id) {
              <option [value]="banho.nome">{{ banho.nome }} - {{ banho.valor }}</option>
            }
          </select>
          <button
            type="button"
            (click)="adicionarServico(selectBanho.value)"
            class="bg-blue-600 text-white px-1.5 py-0.5 rounded-lg hover:bg-blue-500 transition cursor-pointer"
          >
            <fa-icon [icon]="iconAdd"></fa-icon>
          </button>
        </div>
      </div>

      <div class="">
        <h4 class="text-sm font-medium text-gray-700">Serviços Adicionados</h4>
        @for (item of novoAgendamento.servicos; track $index) {
          <ul>
            <li>
              {{ item.nome }} - <span class="font-bold">(R$ {{ item.valor }})</span>
              <button
                (click)="removerServico($index)"
                class="text-red-500 hover:text-red-700 cursor-pointer"
              >
                <fa-icon [icon]="iconClose"></fa-icon>
              </button>
            </li>
          </ul>
        } @empty {
          <li class="text-sm text-gray-400 italic">Nenhum serviço selecionado</li>
        }
      </div>

      <!-- Horário -->
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Data e Hora<span class="text-base text-red-500">*</span></label
        >
        <div class="flex flex-row gap-2">
          <input
            type="date"
            name="data"
            [(ngModel)]="novoAgendamento.data"
            placeholder="Ex: Data e hora"
            required
            #data="ngModel"
            class="w-full border border-gray-300 rounded-lg px-3 py-2 mt-1 focus:ring-2 focus:ring-blue-500 outline-none"
          />
          <input
            type="time"
            name="hora"
            [(ngModel)]="novoAgendamento.hora"
            required
            #hora="ngModel"
            placeholder=""
            class="w-full border border-gray-300 rounded-lg px-3 py-2 mt-1 focus:ring-2 focus:ring-blue-500 outline-none"
          />
        </div>

        @if ((hora.invalid && hora.touched) || (data.invalid && data.touched)) {
          <span class="text-base text-red-500"
            >A data e a hora do agendamento são obrigatórias</span
          >
        }
      </div>

      <!-- Valor do Banho -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Valor Total (R$)</label>
        <p>R$ {{ novoAgendamento.valorTotal || 0 }}</p>
      </div>

      <!-- Botões -->
      <div class="flex justify-between mt-6">
        <button
          type="button"
          (click)="fechar()"
          class="border border-gray-300 px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-lg transition cursor-pointer"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 shadow-md transition cursor-pointer"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>
